.projects {
    background: 
    lighten($accent-color,70%)
    linear-gradient(
                to right,
                rgba($accent-color, 0.3),
                rgba($accent-color, 0.9)
            ),;
    padding-bottom: 2rem;

    &__bio-image {
        height: 40vh;
        width: 100%;
        background: 
            linear-gradient(
                to right,
                rgba($primary-color, 0.7),
                rgba($primary-color, 0.7)
            ),
            url(/dist/img/pexels-maik-poblocki-3812048.jpg) center bottom;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
       h1 {
           font-size: 2rem;
           margin-bottom: 2rem;
           font-family: 'Permanent Marker', cursive;
           margin-bottom: 1rem;
           color: $flair-color;
           border: 3px solid none;
       }
    }

    &__items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__item {
        position: relative;
        border-bottom: 5px solid $accent-color;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 25vh;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $flair-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
                

            }
            .projects__btn {
                opacity: 1;
            }
        }
    }

    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        @include transition-ease;

        &:hover {
            color: $accent-color;
            font-size: 25px;
        }
    }


    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}